body {
  font-family: "Roboto", sans-serif;
}
iframe {
  max-width: 100%;
}
.container {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 15;
  font-size: 40px;
}
p {
  margin-top: 0px;
  margin-right: 50px;
  line-height: 1.7;
  font-size: 16px;
  color: grey;
}
.block1 {
  float: left;
  width: 50%;
}
.block2 {
  width: 50%;
  float: left;
}
.input {
  margin-bottom: 15px;
  width: 100%;
  background-color: #f3f3f3;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
}
textarea {
  padding: 15px;
  width: 100%;
  height: 200px;
  background-color: #f3f3f3;
  border: 0px;
  border-radius: 5px;
}
.submit {
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  border: 0px;
  color: white;
  background-color: black;
}
