body {
  font-family: "Roboto", sans-serif;
}
.container {
  padding: 80px;
  max-width: 1140px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  margin: 0;
  font-size: 40px;
}
p {
  font-size: 16px;
  color: grey;
}
.block1 {
  margin: 0;
  float: left;
  width: 50%;
}
.block2 {
  width: 50%;
  margin: 0;
  float: left;
}
.input {
  margin-bottom: 15px;
  width: 500px;
  background-color: #f3f3f3;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
}
textarea {
  padding: 10px;
  width: 500px;
  height: 250px;
  background-color: #f3f3f3;
  border: 0px;
  border-radius: 5px;
}
.submit {
  border-radius: 5px;
  padding: 20px;
  border: 0px;
  color: white;
  background-color: black;
  text-align: left;
}
