.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
img {
  max-width: 45px;
}
.food {
  background-color: rgb(230, 241, 255);
  text-align: center;
  padding-top: 50px;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.boxes {
  margin-top: 100px;
  margin-left: -1.5%;
  margin-right: -1.5%;
}
.box {
  margin-bottom: 20px;
  width: 30.33%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  float: left;
  padding: 5%;
  border: 1px dotted grey;
  border-radius: 5px;
  background-color: rgb(200, 218, 241);
  box-sizing: border-box;
}
