h1 {
  text-align: center;
}
.main_block {
  text-align: center;
}
.inline_block {
  display: inline-block;
  width: 25%;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 15px;
  text-align: center;
}
.main_block2 {
  text-align: center;
}
.inline_block2 {
  display: inline-block;
  width: 20%;
  border-radius: 5px;
  background-color: lightpink;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}
.links {
  background-color: limegreen;
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.links li {
  display: inline-block;
  font-size: 25px;
  padding: 25px;
}